/* You can add global styles to this file, and also import other style files */
@import url(assets/css/datepicker.css);
@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Slab&display=swap');
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.ff-serif { font-family: 'Bree Serif', serif; }
.ff-normal { font-family: 'Roboto Slab', serif; }

bs-datepicker-container {
    z-index: 2147483647;
}

.flex{ display: flex;}
.gap{gap: 1.8rem;}
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
figure,
picture {
    margin: 0; 
}